.main{
    position: absolute;
    right: 0%;
    width: 79%;
    margin: 0 10px;
}

.containerAbout{
    margin-top: 0;
    margin-left: 20px;
    background-color: white;
    padding: 10px;
}

.conti{
    display: flex;
}
.titre{
    position: absolute;
    left: 16px;
    top: 62px;
    color: white;
    background-color: rgba(255, 166, 0, 0.64);
    width: 1px;
    padding: 1px 10px;
    transform: rotateZ(30deg);

}
.description{
    position: relative;
    left: -18px;
    color: white;
    background-color: orange;
    width: 180px;
    padding: 0 30px;
    z-index: 1;
    justify-content: flex-end;
}
.description h1{
    text-align: right;
}
.textOfAbout{
    position: relative;
    padding: 10px 80px;
    padding-top: 30px;
    padding-right: 50px;
    left: -10px;
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.textOfAbout *{
    max-width: 500px;
}

.about h2{
    /* background-color: blue; */
    margin: 0;
}
.about{
    max-width: 500px;
    margin-right: 10px;
}

.testimonials{
    max-width: 380px;
    margin-left: 10px;
}
.testimonials h2{
    margin: 0;
    text-decoration: 5px orange underline;
    text-underline-offset: 10px;
}
.testimonials blockquote{
    margin-top: 30px;
    margin-left: 70px;
    width: 260px;
    font-style: italic;
    font-size: larger;
    text-align: justify;
    padding: 20px;
    border: 1px solid #3b383894;
    border-radius: 12px;
}
.testimonials .bas{
    position: relative;
    left: 120px;
    width: 260px ;
    display: flex;
    justify-content: space-between;
}
.bas p{
    margin: 0;
}
.bas p strong{
    font-size: 20px;
}
.bas .food{
    font-style: italic;
    opacity: 50%;
    font-size: 13px;
}
.control{
    margin-top: 10px;
}
.control a[href = '#']{
    color: #0b0b0b;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.602);
    background-color: #3332326e;
    width: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 2s;

}
.control a:hover{
    background-color: #080707;
    color: #fff;
    
}
.testimonials img{
    position: relative;
    width: 110px;
    height: 100px;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.337);
    z-index: 3;
    top: -110px;

}
.services{
    padding: 10px 80px;
    padding-top: 30px;
    padding-right: 50px;

}
.services h2{
    margin: 0;
    text-decoration: 5px orange underline;
    text-underline-offset: 10px;

}
.service{
    position: relative;
    margin-top: 10px;
    display: flex;
    padding: auto;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.service *{
    max-width: 220px;

    margin: 10px 10px;
}
.client{
    padding: 10px 80px;
    padding-top: 30px;
    padding-right: 50px;

}
.client h2{
    margin: 0;
    text-decoration: 5px orange underline;
    text-underline-offset: 10px;

}

.clients{
    margin-top: 30px;

    display: flex ;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.clients *{
    max-width: 100px;
    margin: 20px;
    height: 100px;
}

.fact{
    padding: 10px 80px;
    padding-top: 30px;
    padding-right: 50px;

}
.fact h2{
    margin: 0;
    text-decoration: 5px orange underline;
    text-underline-offset: 10px;

}
/* .fact h2::after{
    content: attr(underline);
    wi
} */
.facts{
    margin-top: 30px;

    display: flex ;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.facts div{
    background-color: #f5f0f020;
    position: relative;
    padding: 40px 0px;
    margin: 20px;
    width: 150px;
    height: 170px;
    justify-content: center;
    /* border:2px solid #0b0b0b; */
    box-shadow: 2px 2px 20px 5px rgba(222, 217, 207, 0.478);
}


.fact .happy{
    position: relative;
    display: block;
    justify-content: center;

}
.fact div i{
    position: relative;
    left: 30%;
}

.facts div .fa-solid{
    color: rgb(74, 74, 72);
    font-size: 50px;
    text-align: center;
}
.fact div p,
.fact div span{
    text-align: center;
    font-weight: bold;
}
.fact div .span{
    color: orange;
    font-weight: bold;
    font-size: 35px;
    position: relative;
    margin: 0;
    /* left: 23%; */
}













@media screen and (max-width : 800px) {
    section{
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .main{
        width: 100%;
        margin: 0;
        left: 0;
    }
    .titre{
        display: none;
    }
    .description{
        left: 0;
    }
    .containerAbout{
        margin: 0;
    }
    .textOfAbout{
        padding: 20px;
        justify-content: center;
    }
    .descript{
        display: none;
    }
}