aside{
    position: fixed;
    /* top: 0;  */
    /* padding: 15px; */
    width: 20%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;

}
aside *{
    width: 100%;
}
.profil{
    height: 100vh;
    display: block;
    padding-top: 10px;
    justify-content: center;
}

.photo{
    position: relative;
    margin: 0;
    display: block;
    justify-content: center;
    

}
.photo img{
    width: 110px;
    border: 1ps solid rgba(0, 0, 0, 0.547);
    border-radius: 50%;
    background-color: aqua;
}

.photo h2{
    text-align: center;
    position: relative;
}
.photo{
    text-align: center;
}


.nav{
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

}
.nav ul a{
    margin:20px 0;
    text-decoration: none;
}
.nav ul li{
    border: 0.2px solid  rgba(128, 128, 128, 0.138);
    font-weight: bold;
    padding: 15px 0;
    color: black;
    text-decoration: none;
}

.nav  li:hover,
.nav  li:focus{
    width: 97%;
    background-color: #36323239;
    border-right: 10px solid orange;
}





.social{
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social .reseau{
    width: 70%;
    display: flex;
    justify-content: center;
}
.reseau a{
    color: rgba(0, 0, 0, 0.583);
    text-align: center;
    padding: 10px;
    border: 1px solid;
    margin: 0 10%;
    background-color: #5853535c;
}
.reseau a .fa-brands{
    width: 15px;
    height: 11px;
    font-size: 100%;
}
.reseau a:hover{
    color: rgba(151, 145, 145, 0.969);
    border: 1px solid;
    
    background-color: #333131;
}


@media screen and (max-width : 800px) {
    aside{
        display: none;
    }

} 
