/* --------------------------les parametres generaux -----------------------*/
@import url(../fontawesome-free-6.4.2-web/css/all.min.css);
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica;
}


/* --------------------------les parametres specifiques --------------------------------*/


/* -----------------les parametres du header qui apparaitra quand on sera sur les ecrans de petites tailles -------------*/



/* --------------------les parametres generaux de sections--------------------- */






/* -------------les parametres de  assides  ---------------------*/




